


.titanic{
    
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
     cursor: pointer;
     background-image: url('../img/titanic.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.superman{

       min-height: 100vh;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
     background-image: url('../img/steel.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.greenland{
   min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/greenland.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}



.tenet{

    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/tenet.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}


.extraction{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/extraction.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}


.lost{
   min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/lost.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.bossBaby{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/bossBaby2.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.captain{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/captainUnderPants2.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}


.next{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/nextGen.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.lego{
   min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/lego.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}


.superBad{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/superBad.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.jump21{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/jump21.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.hangOver{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/hangover.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.borat{
   min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/borat.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.virgin{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/virgin.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.underground{
    
   min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/underground6.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.ipMan{
   min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/ipMan.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}


.blackPanter{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/blackPanter.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.casino{
   min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/casinoRoyal.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}


.venom{
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
     background-image: url('../img/wonderWomen.jpg');
     background-repeat: no-repeat;
     background-attachment: relative;
     background-position: center;
     background-size: 100% 100%;
  
}

.emptyDiv{
    width: 90%;
    padding: 2em;
    /* border: 2px solid red; */


}




 .mainText_hw{



   padding: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    /* border: 2px solid red; */

  
} 

 .mainText_title{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    font-size: 1.6rem;
        /* border: 2px solid red; */

}
.mainText_year{


    width: 100%;
    padding: 1em;
    font-size: 1.3rem;

    /* border: 2px solid red; */

}
.paragraphText{
    padding:1.5em;
    width: 100%;

font-size: 1.2rem;


} 

.mainText_hw p{
    padding: 1em;
    font-size:1.2rem;
}

.mainText_hw  a{
    padding: .6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:.4em;
    text-decoration: none;
    background-color: #3333ff;
    color: white;
    width: 140px;
    margin-left: 1em;
  
    font-size: .95rem;
}
.mainText_hw a:hover{
    text-decoration: none;
    transition: 750ms;
    background-color: white;
    color: #3333ff;
    transform: scale(.93);

}



@media (max-width: 1200px) {
.mainText_hw {



        padding: 1em;
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* border: 2px solid red; */


    }
}



@media (max-width: 992px) {
    .titanic {
            min-height: auto;
    
    
    
        }


.superman {
    min-height: auto;

}

.greenland {
min-height: auto;

}



.tenet {

min-height: auto;

}


.extraction {
min-height: auto;

}


.lost {
min-height: auto;

}

.bossBaby {
    min-height: auto;

}

.captain {
min-height: auto;


}


.next {

    min-height: auto;


}

.lego {

min-height: auto;


}


.superBad {

min-height: auto;

}

.jump21 {
min-height: auto;

}

.hangOver {

min-height: auto;



}

.borat {
min-height: auto;


}

.virgin {
min-height: auto;

}

.underground {
min-height: auto;

}

   .ipMan {
    min-height: auto;


   }

.blackPanter {
min-height: auto;


}

.casino {
min-height: auto;


}


.venom {
min-height: auto;

}

                   .emptyDiv {
                       width: 90%;
                       padding: 4em;
        
                   }

.mainText_hw {



        padding: 1em;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* border: 2px solid red; */


    }

    .mainText_title {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1em;
        font-size: 1.4rem;
        /* border: 2px solid red; */

    }

    .mainText_year {


        width: 100%;
        padding: 1em;
        font-size: 1.15rem;

        /* border: 2px solid red; */

    }

    .paragraphText {
        padding: 1.5em;
        width: 100%;

        font-size: 1rem;


    }

    .mainText_hw p {
        padding: 1em;
        font-size: 1rem;
    }

    .mainText_hw a {
        padding: .7em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .4em;
        text-decoration: none;
        background-color: #3333ff;
        color: white;
        width: 140px;

        font-size: .8rem;
    }

}






  @media (max-width: 768px) {


     .emptyDiv {
       width: 90%;
        padding: 4em;
                
       }
.mainText_hw {



    padding: .5em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid red; */


}

.mainText_title {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    font-size: 1.3rem;
    /* border: 2px solid red; */

}

.mainText_year {


    width: 100%;
    padding: 1em;
    font-size: 1rem;

    /* border: 2px solid red; */

}

.paragraphText {
    padding: 1.5em;
    width: 100%;

    font-size: .9rem;


}

.mainText_hw p {
    padding: 1em;
    font-size: .9rem;
}

.mainText_hw a {
    padding: .6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4em;
    text-decoration: none;
    background-color: #3333ff;
    color: white;
    width: 140px;

    font-size: .9rem;
}

   

  }
















  @media (max-width: 600px) {

   

      .emptyDiv {
          width: 90%;
          padding: 4em;

      }

      .mainText_hw {



          padding: .5em;
          width: 95%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          /* border: 2px solid red; */


      }

      .mainText_title {

          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: .5em;
          font-size: 1.2rem;
          /* border: 2px solid red; */

      }

      .mainText_year {


          width: 100%;
          padding: .5em;
          font-size: .9rem;

          /* border: 2px solid red; */

      }

      .paragraphText {
          padding: 1em;
          width: 100%;

          font-size: .8rem;


      }

      .mainText_hw p {
          padding: 1em;
          font-size: .8rem;
      }

      .mainText_hw a {
          padding: .5em;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: .4em;
          text-decoration: none;
          background-color: #3333ff;
          color: white;
          width: 120px;

          font-size: .8rem;
      }



  }

    
                    