.main {

    width: 100%;
    background-color: rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    cursor: pointer;

}



.empty {
    padding: 1.5em;
    width: 100%;
    /* border: 1px solid red; */

}

.firstDiv {
    /* min-height: 40vh; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;


    /* border: 1px solid red; */

}

.firstDiv_first_row {

    width: 25%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;


    /* border: 1px solid wheat; */


}

.firstDiv_first_row div {
    padding: .5em;


}

.firstDiv_first_row div:hover {
    color: orange;
}

.firstDiv_first_row_icons_hw {

    min-width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    /* border: 1px solid greenyellow; */


}

.firstDiv_first_row_icons {

    width: 60%;
    color: white;
    font-size: 3rem;
    /* border: 1px solid red;  */

}



.firstDiv_first_row_headline {
    width: 70%;
color: #dc3545;

    font-size: 1.3rem;
    border-bottom: 1px solid white;
    /* border: 1px solid red; */
}


.firstDiv_first_row_icons a {
    color: white;
    text-decoration: none;

}

.firstDiv_first_row_icons a:hover {
    color: white;
}




.secondDiv {
    padding: 1.2em;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    margin-bottom: 1em;
    /* border: 1px solid red; */
}






@media (max-width:992px) {

    .main {

        width: 100%;
        background-color: rgb(77, 77, 77);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        cursor: pointer;

    }



    .empty {
        padding: 1.5em;
        width: 100%;
        /* border: 1px solid red; */

    }

    .firstDiv {
        /* min-height: 40vh; */
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;




    }

    .firstDiv_first_row {

        width: 25%;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: .9rem;




    }

    .firstDiv_first_row div {
        padding: .5em;


    }

    .firstDiv_first_row div:hover {
        color: orange;
    }

    .firstDiv_first_row_icons_hw {

        min-width: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;




    }

    .firstDiv_first_row_icons {

        width: 60%;
        color: white;
        font-size: 2.8rem;
        /* border: 1px solid red;  */

    }



    .firstDiv_first_row_headline {
        width: 70%;


        font-size: 1.15rem;
        border-bottom: 1px solid white;
        /* border: 1px solid red; */
    }


    .firstDiv_first_row_icons a {
        color: white;
        text-decoration: none;

    }

    .firstDiv_first_row_icons a:hover {
        color: white;
    }




    .secondDiv {

        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;

        /* border: 1px solid red; */
    }


}








@media (max-width:768px) {

    .main {

        width: 100%;
        background-color: rgb(77, 77, 77);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        cursor: pointer;

    }



    .empty {
        padding: 1.5em;
        width: 100%;
        /* border: 1px solid red; */

    }

    .firstDiv {
        /* min-height: 40vh; */
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;




    }

    .firstDiv_first_row {

        width: 80%;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1rem;




    }

    .firstDiv_first_row div {
        padding: .7em;


    }

    .firstDiv_first_row div:hover {
        color: orange;
    }

    .firstDiv_first_row_icons_hw {
        margin-top: 1em;

        min-width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;






    }

    .firstDiv_first_row_icons {

        width: 60%;
        color: white;
        font-size: 2.6rem;


    }



    .firstDiv_first_row_headline {
        width: 80%;


        font-size: 1.2rem;
        border-bottom: 1px solid white;
        /* border: 1px solid red; */
    }


    .firstDiv_first_row_icons a {
        color: white;
        text-decoration: none;

    }

    .firstDiv_first_row_icons a:hover {
        color: white;
    }




    .secondDiv {

        width: 80%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;
        padding: 1em;

        /* border: 1px solid red; */
    }

    .secondDiv div {
        padding: .7em;
    }


}













@media (max-width: 600px) {

    .main {

        width: 100%;
        background-color: rgb(77, 77, 77);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        cursor: pointer;

    }



    .empty {
        padding: 1em;
        width: 100%;
        /* border: 1px solid red; */

    }

    .firstDiv {
        /* min-height: 40vh; */
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;




    }

    .firstDiv_first_row {

        width: 90%;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1rem;




    }

    .firstDiv_first_row div {
        padding: .7em;


    }

    .firstDiv_first_row div:hover {
        color: orange;
    }

    .firstDiv_first_row_icons_hw {

        min-width: 90%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;




    }

    .firstDiv_first_row_icons {

        width: 60%;
        color: white;
        font-size: 2.8rem;
        /* border: 1px solid red;  */

    }



    .firstDiv_first_row_headline {
        width: 90%;


        font-size: 1.2rem;
        border-bottom: 1px solid white;
        /* border: 1px solid red; */
    }


    .firstDiv_first_row_icons a {
        color: white;
        text-decoration: none;

    }

    .firstDiv_first_row_icons a:hover {
        color: white;
    }




    .secondDiv {

        width: 90%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;
        padding: 1em;

        /* border: 1px solid red; */
    }

    .secondDiv div {
        padding: .7em;
    }


}






@media (max-width: 450px) {

    .main {

        width: 100%;
        background-color: rgb(77, 77, 77);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        cursor: pointer;

    }



    .empty {
        padding: 1em;
        width: 100%;
        /* border: 1px solid red; */

    }

    .firstDiv {
        /* min-height: 40vh; */
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;




    }

    .firstDiv_first_row {

        width: 100%;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: .9rem;




    }

    .firstDiv_first_row div {
        padding: .7em;


    }

    .firstDiv_first_row div:hover {
        color: orange;
    }

    .firstDiv_first_row_icons_hw {

        min-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;




    }

    .firstDiv_first_row_icons {

        width: 60%;
        color: white;
        font-size: 2.9rem;
        /* border: 1px solid red;  */

    }



    .firstDiv_first_row_headline {
        width: 85%;


        font-size: 1.1rem;
        border-bottom: 1px solid white;
        /* border: 1px solid red; */
    }


    .firstDiv_first_row_icons a {
        color: white;
        text-decoration: none;

    }

    .firstDiv_first_row_icons a:hover {
        color: white;
    }




    .secondDiv {

        width: 90%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;
        padding: 1em;

        /* border: 1px solid red; */
    }

    .secondDiv div {
        padding: .7em;
    }


}