*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


.mainDiv{
    background-color:#6A6A6A;
    min-height: 225vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;

}


.mainText{
  height: 25vmin;
  width: 100%;
 color: white;
 display: flex;
 align-items: center;
 justify-content:flex-start;

 

}
.mainText_WH{
  width: 70%;
  height: 24vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
   padding-right: 15px;
   text-align: left;


  
  
}
.mainText_headline{
  width: 75%;
  height: 10vmin;
  font-size: 3vmin;
  display: flex;
  align-items: center;
  align-self: flex-end;

}
.mainText_paragraph{
  width: 75%;
  height: 14vmin;
  display: flex;
  align-self: flex-end;
font-size: 2.2vmin;


}
.mainHeadline_popular{
  height: 10vmin;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4vmin;
  color: white;
}



.mainDiv_items{
  width: 18%;
  height: 45vmin;
  border-radius: 7px;
  border: 1px solid white;
  background-color: white;


    
}





img{
  height: 100%;
  width: 100%;
  border-radius: 7px;
}









@media only screen and (max-width: 768px) {

  
.mainDiv{
  background-color:#6A6A6A;
  min-height: 1150vmin;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  

}


.mainText{
height: 25vmin;
width: 100%;
color: white;
display: flex;
align-items: center;
justify-content:flex-start;

}
.mainText_WH{
width: 90%;
height: 24vmin;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding-right: 15px;
text-align: left;




}
.mainText_headline{
width: 80%;
height: 10vmin;
font-size: 3vmin;
display: flex;
align-items: center;
align-self: flex-end;
}
.mainText_paragraph{
width: 80%;
height: 14vmin;
display: flex;
align-self: flex-end;
font-size: 2vmin;


}
.mainHeadline_popular{
height: 10vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 2.3vmin;
color: white;

}



    .mainDiv_items {
      width: 70%;
      height: 55vh;
      border: 1px solid white;
      border-radius: 7px;
      margin-bottom: 7px;
  
  
    }





}





@media only screen and (max-width: 600px) {

  .mainDiv {
      background-color: #6A6A6A;
      min-height: 1170vmin;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      cursor: pointer;
  
  
    }


  .mainText {
      height: 37vmin;
      width: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
    }




  .mainText_headline {
      width: 80%;
      height: 10vmin;
      font-size: 3.5vmin;
      display: flex;
      align-items: center;
      align-self: flex-end;
    }
  
    .mainText_paragraph {
      width: 80%;
      height: 14vmin;
      display: flex;
      align-self: flex-end;
      font-size: 3vmin;
  
  
    }
  
    .mainHeadline_popular {
      height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.4vmin;
      color: white;
  
    }
  
  
  
    .mainDiv_items {
      width: 80%;
      height: 53vh;
      border: 1px solid white;
      border-radius: 7px;
  
  
    }







}








