.navBar{

    width: 100%;
    background-color:rgb(77,77, 77);
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-around;
    padding: .6em;
    cursor: pointer;
  /* border: 2px solid red; */

  
  }
  .navBar_div{
  
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.3rem;

    
    /* border: 2px solid green; */
  
  
  }

  .navBar_div a{
    text-decoration: none;
    background-color: #3333ff;
    color: white;
    font-size: 1rem;
    padding: .4em;
    width: 150px;
    border-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .navBar_div a:hover{
    transition: 600ms;
    text-decoration: none;
    background-color: white;
  }
  

 