.main {
    min-height: 95vmin;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    cursor: pointer;

}

.form{
    width: 50%;
    height: 6vmin;
    display: flex;

justify-content: space-between;
font-size: 2vmin;
}

input[type="text"]{
    height: 5vmin;
    border-radius: 6px;
    width: 70%;

}

.form button{
    height: 5vmin;
    width: 20vmin;
    border-radius: 6px;

    border: none;
    background-color: #3333ff;
        color: white;
    
}


.firstDiv{
height: 55vmin;
width: 70%;
display: flex;
align-items: center;
justify-content: space-around;


}


.firstDivItem1{
    height: 52vmin;
    width:45%;
   
}

.firstDivItem2 {
    height: 45vmin;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: black;

}

.firstDivItem2Headline{
    font-size: 3vmin;
}

.firstDivItem2Year{
    font-size: 2.1vmin;
}

.firstDivItem2Text{
    font-size: 2.3vmin;
}

img{
    height: 100%;
    width: 100%;
}









.emptyDiv{
    height: 25vmin;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    
}


.emptyDiv a{
         text-decoration: none;
        font-size: 1.7vmin;
        height: 5vmin;
        padding: 6px;
        width: 15vmin;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
            border: 2px solid #3333ff;
            color: #3333ff;
} 


.emptyDiv a:hover{
    transition: 750ms;
     
    background-color: #3333ff;
        color: white;
         text-decoration: none;
  }



  @media only screen and (max-width: 1200px) {


    .form {
        margin-top: 10px;
            width: 70%;
            height: 6vmin;
            display: flex;
    
            justify-content: space-between;
            font-size: 2vmin;
        }
    
        input[type="text"] {
            height: 5vmin;
            border-radius: 6px;
            width: 60%;
    
        }

    .firstDiv {
            height: 55vmin;
            width: 77%;
            display: flex;
            align-items: center;
            justify-content: space-around;
          
    
        }

  }





  @media only screen and (max-width: 992px) {

    .firstDiv {
            height: 55vmin;
            width: 82%;
            display: flex;
            align-items: center;
            justify-content: space-between;
           
    
        }


                .form button {
                    height: 5vmin;
                    width: 15vmin;
                    border-radius: 6px;
        
                    border: none;
                    background-color: #3333ff;
                    color: white;
        
                }


  .firstDivItem2Headline {
      font-size: 2.8vmin;
  }

  .firstDivItem2Year {
      font-size: 1.9vmin;
  }

  .firstDivItem2Text {
      font-size: 2.1vmin;
  }



}






@media only screen and (max-width: 768px) {



    .main {
            min-height: 139vmin;
            width: 100%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: white;
            cursor: pointer;
    
        }



    .firstDiv {
        height: 105vmin;
        width: 82%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    

    }



        .firstDivItem1 {
            height: 52vmin;
            width: 70%;
    
        }
    
        .firstDivItem2 {
            height: 50vmin;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            color: black;
            font-size: 1.8vmin;
    
        }






    .firstDivItem2Headline {
        font-size: 2.8vmin;
    }

    .firstDivItem2Year {
        font-size: 1.9vmin;
    }

    .firstDivItem2Text {
        font-size: 2.1vmin;
    }



}





@media only screen and (max-width: 600px) {



    .main {
        min-height: 160vmin;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        cursor: pointer;

    }


        .form button {
            height: 6vmin;
            width: 20vmin;
            border-radius: 6px;
    font-size: 2.1vmin;
            border: none;
            background-color: #3333ff;
            color: white;
    
        }



    .firstDiv {
        height: 130vmin;
        width: 82%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       

    }



    .firstDivItem1 {
        height: 62vmin;
        width: 85%;

    }

    .firstDivItem2 {
        height: 60vmin;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        color: black;

            font-size: 2.1vmin;


    }






    .firstDivItem2Headline {
        font-size: 3.2vmin;
    }

    .firstDivItem2Year {
        font-size: 2.4vmin;
    }

    .firstDivItem2Text {
        font-size: 2.3vmin;
    }




        .emptyDiv a {
            text-decoration: none;
            font-size: 2.1vmin;
            height: 6vmin;
            padding: 6px;
            width: 25vmin;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border: 2px solid #3333ff;
            color: #3333ff;
        }



}











@media only screen and (max-width: 500px) {



    .main {
        min-height: 160vmin;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        cursor: pointer;

    }




        .form {
            width:80%;
            height: 6vmin;
            display: flex;
    
            justify-content: space-between;
            font-size: 3vmin;
        }


                input[type="text"] {
                    height: 6.5vmin;
                    border-radius: 6px;
                    width: 60%;
        
                }


    .form button {
        height: 7vmin;
        width: 20vmin;
        border-radius: 6px;
        font-size: 2.25vmin;
        border: none;
        background-color: #3333ff;
        color: white;

    }



    .firstDiv {
        height: 130vmin;
        width: 82%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;


    }



    .firstDivItem1 {
        height: 62vmin;
        width: 85%;

    }

    .firstDivItem2 {
        height: 60vmin;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        color: black;

        font-size: 2.5vmin;


    }






    .firstDivItem2Headline {
        font-size: 4vmin;
    }

    .firstDivItem2Year {
        font-size: 2.8vmin;
    }

    .firstDivItem2Text {
        font-size: 2.8vmin;
    }




    .emptyDiv a {
        text-decoration: none;
        font-size: 2.3vmin;
        height: 7vmin;
        padding: 6.5px;
        width: 25vmin;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid #3333ff;
        color: #3333ff;
    }



}